<div class="all-view">
  <div class="title">
    <h1>商品情報編集</h1>
  </div>
  <div class="form">
    <%= form_with model: @item, url:admin_item_path(@item.id),local:true do |f| %>
      <div class="field">
        <%= f.label :"商品画像" %><br>
        <%= image_tag @item.get_image(100, 100) %>
        <%= f.file_field :image, accept: "image/*" %>
      </div>
      <div class="field">
        <%= f.label :"ブランド" %><br>
        <%= f.text_field :brand, autofocus: true, size: 50 %>
      </div>
      <div class="field">
        <%= f.label :"商品名" %><br>
        <%= f.text_field :name, size: 50 %>
      </div>
      <div class="field">
        <%= f.label :"カテゴリー" %><br>
        <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name, selected: @item.genre_id), id:"inputGenre_id" %>
      </div>
      <div class="field">
        <%= f.label :"税抜価格" %></br>
        <%= f.text_field :price %>円
      </div>
      <div class="field">
        <%= f.label :"容量" %></br>
        <%= f.text_field :capacity %>
      </div>
      <div class="field">
        <%= f.label :"販売日" %></br>
        <%= raw sprintf(f.date_select(:release_date, use_month_numbers: true, start_year: 2000, end_year: (Time.now.year + 1), date_separator: '%s'), '年 ', '月 ') + '日' %>
      </div>
      <div class="field">
        <%= f.label :"商品説明" %></br>
        <%= f.text_area :introduction, class: "introduction" %>
      </div>
      <div class="actions">
        <%= f.submit '変更を保存', class: "btn btn-dark btn-sm m-1" %>
      </div>
    <% end %>
  </div>
</div>