<div class="item-index">
  <div class="title">
    <h2>商品一覧</h2>
  </div>
  <div class="button">
    <%= link_to "商品追加", new_admin_item_path, class: "btn btn-dark btn-sm mb-5" %>
  </div>
  <table class="table">
    <tr class="record">
      <th class="t-id">商品ID</th>
      <th class="t-brand">ブランド</th>
      <th class="t-name">商品名</th>
      <th class="t-genre">カテゴリー</th>
      <th class="t-release">発売日</th>
      <th class="t-create">登録日時</th>
      <th class="t-edit"></th>
    </tr>
    <% @items.each do |item| %>
    <tr class="record">
      <td><%= item.id %></td>
      <td><%= item.brand %></td>
      <td><%= item.name %></td>
      <td><%= item.genre.name %></td>
      <td>
        <% if item.release_date.presence %>
          <%= item.release_date.strftime('%Y/%m/%d') %>
        <% else %>
          －
        <% end %>
      </td>
      <td><%= item.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
      <td><%= link_to "詳細", admin_item_path(item.id), class:"btn btn-dark btn-sm m-1" %></td>
    </tr>
    <% end %>
  </table>
  <%= paginate  @items %>
</div>