<h2>レビュー詳細</h2>
<p><%= @review.item.brand %></p>
<p><%= link_to @review.item.name, admin_item_path(@review.item_id) %></p>
<p><%= link_to @review.user.name,  edit_admin_user_path(@review.user_id) %></p>
<p>年齢：<%= @review.user.age_i18n %></p>
<p>性別：<%= @review.user.sex_i18n %></p>
<p><%= @review.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
<p>美白効果：<%= @review.whitening %></p>
<p>しわ・たるみ：<%= @review.wrinkle %></p>
<p>保湿：<%= @review.moisturizing %></p>
<p>肌荒れ・ニキビ：<%= @review.acne_cure %></p>
<p>安全性：<%= @review.no_irritation %></p>
<p>コメント：<%= @review.comment %></p>
<p><%= link_to "削除", admin_review_path(@review.id), method: :delete, data: {confirm: "削除しますか？"}  %></p>