<div class="all-view">
  <div class="title">
    <h2>ユーザー情報編集</h2>
  </div>
  <div class="form">
    <%= form_with model: @user, url:admin_user_path(@user), local:true do |f| %>
      <p>
        ユーザーID：<%= @user.id %>
      </p>
      <p>
        ユーザーネーム：<%= f.text_field :name,  autofocus: true %>
      </p>
      <p>
        メールアドレス：<%= f.text_field :email %>
      </p>
      <p>
        年齢：<%= f.select :age, User.ages.keys.map {|k| [I18n.t("enums.user.age.#{k}"), k]}%>
      </p>
      <p>
        性別：<%= f.select :sex, User.sexes.keys.map {|k| [I18n.t("enums.user.sex.#{k}"), k]} %>
      </p>
      <p>
        肌質：<%= f.select :skin_type, User.skin_types.keys.map {|k| [I18n.t("enums.user.skin_type.#{k}"), k]} %>
      </p>
      <p>
        肌質診断結果：<%= f.select :diagnosis, *[1..5], include_blank: "未診断" %>
      </p>
      <p>
        会員ステータス：
        <%= f.radio_button :is_deleted, "false" %>
          <%= f.label :有効 %>
        <%= f.radio_button :is_deleted, "true" %>
          <%= f.label :退会 %>
      </p>
      <div>
        <%= f.submit '変更を保存', class: "btn btn-dark btn-sm" %>
      </div>
    <% end %>
  </div>
</div>