<h1>化粧品診断</h1>
  <p>5つの質問から、あなたにおススメの化粧品と成分を提案します！！</p>
    <%= form_with model: @user, url:save_path, local:true do |f| %>
      <div>
        <div>
          <div>
            <p>Q1. 手で頬を触ったとき、さらっとしてかさつきが気になる？</p>
          </div>
          <div>
            <p><%= f.radio_button :question1, "1" %>Yes</p>
            <p><%= f.radio_button :question1, "2" %>No</p>
          </div>

          <div>
              <p>Q2. 韓流アイドルみたいな色白になりたい？</p>
          </div>
          <div>
            <p><%= f.radio_button :question2, "1" %>Yes</p>
            <p><%= f.radio_button :question2, "2" %>No</p>
          </div>

          <div>
            <p>Q3. ほうれい線や目じりのしわが気になり始めた？</p>
          </div>
          <div>
            <p><%= f.radio_button :question3, "1" %>Yes</p>
            <p><%= f.radio_button :question3, "2" %>No</p>
          </div>

          <div>
            <p>Q4. 肌荒れやニキビをとにかく治したい？</p>
          </div>
          <div>
            <p><%= f.radio_button :question4, "1" %>Yes</p>
            <p><%= f.radio_button :question4, "2" %>No</p>
          </div>

          <div>
            <p>Q5. 化粧品でピリピリと刺激を感じたり、痒くなったりすることがある？</p>
          </div>
          <div>
            <p><%= f.radio_button :question5, "1" %>Yes</p>
            <p><%= f.radio_button :question5, "2" %>No</p>
          </div>
      </div>
  </div>
  <div class="sindanbotan">
      <%= f.submit "診断する" %>
  </div>
<% end %>