<div class="all-view">
  <div class="title">
    <h2>化粧品診断結果</h2>
  </div>
  <div class="result">
    <% if @user.diagnosis == "1" %>
      <h4>あなたには<strong>保湿</strong>効果の高い化粧品をおススメします</h4>
      <p>お肌を保湿するには、保湿成分(水分)とエモリエント成分(油分)のバランスが重要です。<br>
          保湿成分は皮膚に足りない水分を補うこと。<br>
          エモリエント成分は皮膚からの水分蒸散を抑えてうるおいを保ち、皮膚を柔らかくすることをいいます。<br>
          乾燥が気になる際は、下記のような保湿成分を配合している化粧品を選ぶと良いでしょう。</p>
      <div class="component">
        <ul>
          <li>セラミド</li>
          <li>ヒアルロン酸</li>
          <li>グリセリン</li>
          <li>NMF(天然保湿因子):アミノ酸、PCA-Naなど</li>
        </ul>
      </div>
      <%= render "recommend-item", items: @items %>
    <% elsif @user.diagnosis == "2" %>
      <h4>あなたには<strong>美白</strong>効果の高い化粧品をおススメします</h4>
      <p>シミが気になる方や美白を求める方には、下記のような美白有効成分が配合された化粧品を使用することで、メラニンの蓄積を抑えることができます。<br>
        さらに、医薬部外品は国が有効成分が有効量配合されていることを承認しているため、より効果があるでしょう。<br>
        また、美白に一番重要なことは日焼けをしないことです。</p>
      <ul>
        <li>ビタミンC誘導体</li>
        <li>アルブチン</li>
        <li>トラネキサム酸</li>
        <li>ニコチン酸アミド</li>
      </ul>
      <%= render "recommend-item", items: @items %>
    <% elsif @user.diagnosis == "3" %>
     <h4>あなたには<strong>しわ</strong>改善効果の高い化粧品をおススメします</h4>
     <p>シワは、乾燥や紫外線によるダメージでによって肌の真皮層のコラーゲンやエラスチンが変性、減少することで形成されます。<br>
        シワを防ぐには、しっかりと保湿をし、紫外線ケアをすることが大切です。<br>
        シワの改善には、国で認められた有効成分である、下記の成分を配合した化粧品を使用すると良いでしょう。</p>
      <ul>
        <li>ナイアシンアミド</li>
        <li>ビタミンA誘導体(レチノール)</li>
      </ul>
      <%= render "recommend-item", items: @items %>
    <% elsif @user.diagnosis == "4" %>
      <h4>あなたには<strong>肌荒れ・ニキビ</strong>改善効果の高い化粧品をおススメします</h4>
      <p>ニキビや肌荒れの原因には、ターンオーバーの乱れ、乾燥、過剰な皮脂など、複数の要因があります。<br>
       毎日のスキンケアをしっかりと行い、肌質に合った化粧品を使用することでお肌のバリア機能を高めることが重要です。<br>
        肌荒れやニキビを繰り返しがちな方には、抗炎症成分や原因菌の殺菌効果のある以下の成分を配合した化粧品を使用すると良いでしょう。</p>
      <ul>
        <li>グリチルリチン酸ジカリウム(GK2)</li>
        <li>グリチルレチン酸ステアリル</li>
        <li>イソプロピルメチルフェノール</li>
        <li>サリチル酸</li>
        <li>アラントイン</li>
      </ul>
      <%= render "recommend-item", items: @items %>
    <% elsif @user.diagnosis == "5" %>
      <h4>あなたには<strong>刺激の低い</strong>化粧品をおススメします</h4>
      <p>化粧品を使用するとピリピリとしみたり、痒みや、赤くなったりすることがあります。<br>
        それは、お肌のバリア機能が弱まっており、お肌に合わない成分が刺激になってしまっています。<br>
        そんな方には、敏感肌用を謳った化粧品を選ぶと良いでしょう。<br>
        また、お肌に合わない成分は人によって異なります。化粧品の全成分表示を見て、何が自分には合わないかを確認するのも良いでしょう。<br>
        下記の成分は、刺激になりやすい成分なため、チェックしてみてください。</p>
      <ul>
        <li>エタノール</li>
        <li>合成香料</li>
        <li>防腐剤(パラベン、エチルヘキシルグリセリン)</li>
        <li>旧表示指定成分(厚生労働省によって表示が義務付けられていた成分)</li>
      </ul>
      <%= render "recommend-item", items: @items %>
    <% else %>
      <div class="subtitle">
        <p>化粧品診断をしてください</p>
      </div>
    <% end %>
  </div>