<h1>マイページ</h1>
  <div>
    <%= link_to "編集する", edit_user_path(@user), class: "btn btn-success mt-4" %>
  </div>
  <p>マイネーム：<%= @user.name %></p>
  <p>メールアドレス：<%= @user.email %></p>
  <p>年齢：<%= @user.age_i18n %></p>
  <p>性別：<%= @user.sex_i18n %></p>
  <p>肌質：<%= @user.skin_type_i18n %></p>
  <p>診断結果：<%= @user.diagnosis %></p>
  <%= link_to "化粧品診断結果", mypage_path %>
  <%= link_to "レビュー履歴一覧", reviews_path %>
