  	<% if params[:genre_id] %>
  	  <div class="subtitle">
        <h3>「<%= genre.name %>」ランキング</h3>
      </div>
      <% genre_ranks.each.with_index(1) do |item, i| %>
        <div class="item">
          <div class="rank-image">
            <h4>第<%= i %>位</h4>
            <div class="item-image">
              <%= image_tag item.get_image(200, 200) %>
            </div>
          </div>
          <div class="item-info">
            <p><%= item.brand %></p>
            <h5><%= link_to item.name, item_path(item.id),class: "item-name" %></h5>
            <p>総評価：<%= item.avg_reviews %></p>
            <p>カテゴリー：<%= item.genre.name %></p>
            <p>参考価格：<%= item.price %>円／<%= item.capacity %> | 発売日：<%= item.release_date.strftime('%Y/%m/%d') %></p>
          </div>
        </div>
      <% end %>
    <% else %>
    <div class="subtitle">
      <h3>全カテゴリーランキング</h3>
    </div>
      <% all_ranks.each.with_index(1) do |item, i| %>
        <div class="item">
          <div class="rank-image">
            <h4>第<%= i %>位</h4>
            <div class="item-image">
              <%= image_tag item.get_image(200, 200) %>
            </div>
          </div>
          <div class="item-info">
            <p><%= item.brand %></p>
            <h5><%= link_to item.name, item_path(item.id),class: "item-name" %></h5>
            <p>総評価：<%= item.avg_reviews %></p>
            <p>カテゴリー：<%= item.genre.name %></p>
            <p>参考価格：<%= item.price %>円／<%= item.capacity %> | 発売日：<%= item.release_date.strftime('%Y/%m/%d') %></p>
          </div>
        </div>
      <% end %>
    <% end %>