<div class="all-view">
  <div class="title">
    <h2>商品検索</h2>
  </div>
  <div class="search-form">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword, :placeholder =>"例）商品名 ブランド 美白 毛穴", size: 40, class: "search_field" %>
      <%= select_tag "genre_id", options_from_collection_for_select(Genre.all, :id, :name), include_blank: "全カテゴリー", class: "search_field" %>
      <%= f.submit "検索", class: "search_btn" %>
    <% end %>
  </div>

  <% if params[:keyword].present? %>
    <div class="item-list">
      <% if @items.present? %>
        <h5 class = "text-center">
          <% if params[:genre_id].present? %>
            "<%= params[:keyword] %>　<%= @genre.name %>" の検索結果
          <% else %>
            "<%= params[:keyword] %>" の検索結果
          <% end %>
        </h5>
        <%= render 'public/items/item', items: @items %>
        <div class="paginate">
          <%= paginate @items %>
        </div>
      <% else %>
        <h5 class= "text-center">
          "<%= params[:keyword] %>" に該当する商品はありませんでした
        </h4>
      <% end %>
    </div>
  <% elsif params[:genre_id].present? %>
    <h5 class="text-center">"<%= @genre.name %>" の検索結果</h5>
    <%= render 'public/items/item', items: @items %>
    <%= paginate @items %>
  <% else %>
    <h5 class="text-center">キーワード・カテゴリーから商品を検索してください。</h5>
  <% end %>
</div>