<div class="all-view">
  <div class="title">
    <h2>保湿ランキング</h2>
  </div>
  <%= render 'search-bar', genres: @genres %>
  <% if params[:genre_id] %>
	  <div class="subtitle">
      <h3>「<%= @genre.name %>」ランキング</h3>
    </div>
    <% @items.each.with_index(1) do |item, i| %>
      <% i += @ranking %>
      <div class="items">
        <div class="rank-image">
          <h4>第<%= i %>位</h4>
          <div class="item-image">
            <%= image_tag item.get_image(200, 200) %>
          </div>
        </div>
        <div class="item-info">
          <p><%= item.brand %></p>
          <h6><%= link_to item.name, item_path(item.id),class: "item-name" %></h6>
          <p>
            保湿評価：<%= item.avg_moisturizing %>
            <% if item.reviews.any? %>
              (口コミ<%= item.reviews.count %>件)
            <% end %>
          </p>
          <p>カテゴリー：<%= item.genre.name %></p>
          <p>参考価格：<%= item.price %>円／<%= item.capacity %></p>
          <p>発売日：<%= item.release_date.strftime('%Y/%m/%d') %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="subtitle">
      <h3>全カテゴリーランキング</h3>
    </div>
    <% @items.each.with_index(1) do |item, i| %>
      <% i += @ranking %>
      <div class="items">
        <div class="rank-image">
          <h4>第<%= i %>位</h4>
          <div class="item-image">
            <%= image_tag item.get_image(200, 200) %>
          </div>
        </div>
        <div class="item-info">
          <p><%= item.brand %></p>
          <h6><%= link_to item.name, item_path(item.id),class: "item-name" %></h6>
          <p>保湿評価：<%= item.avg_moisturizing %>
            <% if item.reviews.any? %>
              (口コミ<%= item.reviews.count %>件)
            <% end %>
          </p>
          <p>カテゴリー：<%= item.genre.name %></p>
          <p>参考価格：<%= item.price %>円／<%= item.capacity %></p>
          <p>発売日：<%= item.release_date.strftime('%Y/%m/%d') %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= paginate @items %>
</div>