<div class="review-view">
  <div class="title">
    <h2><span class="show-brand"><%= @item.brand %></span>　<%= @item.name %></h2>
  </div>
  <div class="item-show">
    <div class="item-image">
      <%= image_tag @item.get_image(300, 300) %>
    </div>
    <div class="item-introduction">
      <div class="item-info">
        <p>
          口コミ総評価：<span class="total-rating-value"><%= @item.avg_reviews %></span>
          <% if @reviews.any? %>
            (口コミ<%= @reviews_count %>件)
          <% end %>
        </p>
        <p>カテゴリー：<%= @item.genre.name %></p>
        <p>税込価格(税抜価格)：<%= @item.add_tax_price %>円</%>(<%= @item.price.to_s(:delimited) %>円)／<%= @item.capacity %></p>
        <p>発売日：<%= @item.release_date.strftime('%Y/%m/%d') %></p>
        <p class="mb-0">商品説明</p>
        <p><%= @item.introduction %></p>
      </div>
      <div class="icon">
        <% if user_signed_in? %>
          <div id="favorite-btn-<%= @item.id %>">
            <%= render 'public/favorites/favorite', item: @item %>
          </div>
          <%= link_to new_item_review_path(@item) do %>
            <i class="fa-regular fa-comment fa-2x ml-5"></i>口コミする
          <% end %>
        <% end %>
      </div>
    </div>
   </div>
  <div class="review">
    <h4 class="subtitle">COSMEN口コミ評価</h4>
  </div>
  <% if @reviews.any? %>
    <div class="rate">
      <div class="chart">
        <%= render 'chart', item: @item %>
      </div>
      <div class="rate-avg">
        <p>保湿評価：<%= @item.avg_moisturizing %></p>
        <p>美白評価：<%= @item.avg_whitening %></p>
        <p>シワ改善評価：<%= @item.avg_wrinkle %></p>
        <p>ニキビ改善評価：<%= @item.avg_acne_cure %></p>
        <p>敏感肌向け評価：<%= @item.avg_no_irritation %></p>
      </div>
    </div>
    <div class="subtitle">
      <h5 class="subtitle">最新の口コミ</h5>
      <p>口コミ件数<%= @reviews_count %>件</p>
    </div>
    <%= render 'public/reviews/review', reviews: @reviews %>
  <% else %>
    <div class="subtitle">
      <p>口コミはありません</p>
    </div>
  <% end %>
</div>